###Import pandas

In [ ]:
import pandas as pd

###Read airline passenger data

In [ ]:
df = pd.read_csv('/content/airline-passengers.csv')

###Display the data

In [ ]:
df

###Display dataframe info

In [ ]:
df.info()

###Convert the Month column to datetime

In [ ]:
df['Month'] = pd.to_datetime(df['Month'])

###Check to see if it worked

In [ ]:
df['Month'].dt.year

###Make the Month column the index

In [ ]:
df = df.set_index('Month')

###Plot the data

In [ ]:
df.plot(grid='on')

###Plot data from 1959 - 1960

In [ ]:
from datetime import datetime
start_date = datetime(1959, 1, 1)
end_date = datetime(1960, 12, 1)
df[(start_date <= df.index) & (df.index <= end_date)].plot(grid='on')

###Perform Time Series Decomposition
###Trend + Seasonality + Residual
###https://en.wikipedia.org/wiki/Decomposition_of_time_series

In [ ]:
import statsmodels.api as sm
decomposition = sm.tsa.seasonal_decompose(df, model='additive').plot()

In [ ]:
decomposition = sm.tsa.seasonal_decompose(df, model='multiplactive').plot()

### Convert the notebook to html and submit the html file in canvas for grading

In [ ]:
# !jupyter nbconvert --to html