###Import Pandas

In [ ]:
import pandas as pd

### Read tables from Wikipedia

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
tables = pd.read_html(url)

###How many tables did we read?

In [ ]:
len(tables)

###What is in the first table?

In [ ]:
tables[0].head()

### What is in the second table?

In [ ]:
...

### Store the first table in a variable named df

In [ ]:
df = tables[0]

### Show the first few lines of the df dataframe

In [ ]:
...

### Set the "Rank" column as the index

In [ ]:
df = df.set_index('Rank')

 ### Show the columns of the dataframe

In [ ]:
df.columns

### Drop the extra level of the columns

In [ ]:
df.columns = df.columns.droplevel()

### Show the columns of the dataframe again to make sure they look good

In [ ]:
...

### Rename columns and drop columns we don't need

In [ ]:
df.columns.values[3] = "Revenue"
df.columns.values[4] = "Profit"
df.columns.values[6] = "Country"
df = df.drop('State-owned', axis=1)
df = df.drop('Ref.', axis=1)
df = df.drop('Revenue per worker', axis=1)
df.head()

### Setting "Rank" as the index should work now

In [ ]:
df = df.set_index('Rank')

### Show the first few lines of the dataframe again to make sure "Rank" is the index

In [ ]:
...

### Display information about the dataframe and check dtypes

In [ ]:
df.info()

### Set the "Revenue" column to numeric

In [ ]:
df["Revenue"] = pd.to_numeric(df['Revenue'])

### Remove $ and , from the Revenue column

In [ ]:
df['Revenue'] = df['Revenue'].str.replace('[\$,]', '', regex=True)

### Set the "Revenue" column to numeric, it should work now

In [ ]:
...

### Display information about the dataframe and verify thet the "Revenue" column is now numeric

In [ ]:
...

### Remove $ and , from the "Profit" column

In [ ]:
df['Profit'] = df['Profit'].str.replace('[\$,]', '', regex=True)

### Set the "Profit" column to numeric

In [ ]:
...

### Replace the minus signs with a minus sign Pandas can read

In [ ]:
df['Profit'] = df['Profit'].str.replace('−', '-', regex=True)

### Try to set the "Profit" column to numeric again

In [ ]:
df["Profit"] = pd.to_numeric(df['Profit'])

### There are more bad minus signs we need to replace

In [ ]:
df['Profit'] = df['Profit'].str.replace('–', '-', regex=True)

### Try to set the "Profit" column to numeric again

In [ ]:
 df["Profit"] = pd.to_numeric(df['Profit'])

### Replace "..." with 0 in the "Profit" column

In [ ]:
 df['Profit'] = df['Profit'].str.replace('\.\.\.', '0', regex=True)

### Set the "Profit" column to numeric, it should work now

In [ ]:
...

### Display information about the dataframe and verify thet the "Profit" column is now numeric

In [ ]:
...

### Show the first few lines of the df dataframe and see if your data looks good

In [ ]:
...

### Connect your Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Save the dataframe as a CSV file to your Google Drive

In [ ]:
df.to_csv('/content/drive/My Drive/wikipedia-largest-companies.csv', index=True)