### Import pandas

In [ ]:
import pandas as pd

### Install MySQL server

In [ ]:
!apt-get -y install mysql-server  > /dev/null

### Start MySQL server

In [ ]:
!service mysql start

### Set root account password

In [ ]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

### Import sample database

In [ ]:
!mysql -uroot -proot -t < '/content/Chinook_MySql.sql'

### Install MySQL Python connector

In [ ]:
!pip install pymysql  > /dev/null

### Connect to MySQL server

In [ ]:
import sqlalchemy
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql import text

con_string = 'mysql+pymysql://root:root@localhost/Chinook'
engine = create_engine(con_string)
connection = engine.connect()

### List tables

In [ ]:
query = text("show tables")
results = connection.execute(query).fetchall()
results

### Read Customer, Invoice, InvoiceLine, Track

In [ ]:
Customer = pd.read_sql("SELECT * FROM Customer", engine)
Invoice = pd.read_sql("SELECT * FROM Invoice", engine)
InvoiceLine = pd.read_sql("SELECT * FROM InvoiceLine", engine)
Track = pd.read_sql("SELECT * FROM Track", engine)

### Read order #100

In [ ]:
order1 = Invoice[Invoice['InvoiceId'] == 100]
order1

### Merge to pickup customer information

In [ ]:
order2 = pd.merge(order1, Customer)
order2

### Merge to pickup line item information

In [ ]:
order3 = pd.merge(order2, InvoiceLine)
order3

### Merge to pickup track information

In [ ]:
order4 = pd.merge(order3, Track)
order4

### Equivalent SQL join query

In [ ]:
query = text("""select * from Invoice
                join Customer on Invoice.Customerid = Customer.Customerid
                Join InvoiceLine on Invoice.Invoiceid = InvoiceLine.Invoiceid
                join Track on InvoiceLine.Trackid = Track.Trackid
                where Invoice.Invoiceid = 100""")
results = connection.execute(query).fetchall()
results

### Convert the notebook to html and submit the html file in canvas for grading

In [ ]:
# !jupyter nbconvert --to html