###Import Pandas

In [ ]:
import pandas as pd

###Read input file
###https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data

In [ ]:
from zipfile import ZipFile
zip_file = ZipFile('/content/names.zip')

allnames = []
for file in zip_file.infolist():
    if file.filename.endswith('.txt'):
      year = file.filename.strip('yob').strip('.txt')
      print(year)
      names = pd.read_csv(zip_file.open(file.filename), names=['Name', 'Sex', 'Count'])
      names['Year'] = year
      allnames.append(names)
df = pd.concat(allnames)

###Display the first year

In [ ]:
allnames[0]

###Display the dataframe

In [ ]:
df

###Select a name

In [ ]:
name = df[df['Name'] == "Alexa"]
name

###Group by year and count for the name

In [ ]:
name.groupby('Year')['Count'].sum()

###Plot popularity of the name

In [ ]:
name.groupby('Year')['Count'].sum().plot()

###Group by year and count for all names

In [ ]:
df.groupby('Year')['Count'].sum()

###Plot totals for each year

In [ ]:
df.groupby('Year')['Count'].sum().plot()

### Convert the notebook to html and submit the html file in canvas for grading

In [ ]:
# !jupyter nbconvert --to html